# Deno
# https://deno.com/

# Cache directory (when using project-local DENO_DIR)
# https://docs.deno.com/runtime/fundamentals/setup/#deno_dir
.deno/

# Coverage reports
# https://docs.deno.com/runtime/reference/cli/coverage/
coverage/
*.lcov
.venv*

# Python Caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Deno & Micromamba system artifacts
bin/
piper_cache/
piper_cache_local/
lightning_logs/